* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Rajdhani", "Roboto" sans-serif;
  font-size: 1.6rem;
  padding-left: 6.8rem;
  padding-right: 6.8rem;
  background: rgba(43, 47, 84, 1);
  padding-top: 5rem;
}
.header-section {
  width: 100%;
  height: 51px;
  display: flex;
}
.logo {
  width: 91px;
  height: 32px;
  object-fit: contain;
  margin-right: 386px;
}
.nav-bar {
  height: 21px;
  width: auto;
}
