* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Rajdhani", "Roboto" sans-serif;
  font-size: 1.6rem;
  padding-left: 6.8rem;
  padding-right: 6.8rem;
  background: rgba(43, 47, 84, 1);
  padding-top: 5rem;
}
.header-section {
  width: 100%;
  height: 51px;
  display: flex;
}
.logo {
  width: 91px;
  height: 32px;
  object-fit: contain;
  margin-right: 334px;
}
.nav-bar {
  height: 21px;
  width: auto;
  margin-right: 124px;
  margin-top: 12px;
}
.nav-list {
  display: flex;
  list-style: none;
}
.nav-list li {
  margin-right: 4rem;
  font-family: Roboto;
  font-size: 18px;
  line-height: 21.09px;
}

.nav-list li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  font-weight: 400;
  opacity: 60%;
}
.home-link {
  color: rgba(255, 255, 255, 1);
  font-weight: 500;
}
.header-search-button-container {
  display: flex;
}
.search-icon {
  margin-right: 17px;
  margin-top: 16px;
}
.header-button,
.hero-content-button1,
.trends-section-cards1-sub-section-button,
.top-list-section-cards-button,
.sell-your-Artwork1-button {
  border: none;
  width: 171px;
  height: 51px;
  border-radius: 30px;
  background: linear-gradient(#ff694e 0%, #ff3a15 100%);
  color: white;
  font-size: 18px;
  font-family: roboto;
  font-weight: 500;
}

/* HERO */
.hero-section {
  width: 100%;
  height: 652.9px;
  display: flex;
  margin-top: 160px;
  margin-bottom: -4.9px;
}
.hero-content-heading {
  width: 573px;
  height: 219px;
  font-family: Rajdhani;
  font-weight: 700;
  line-height: 73.2px;
  font-size: 61px;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 25px;
}
.hero-content-heading-special {
  border-bottom: 2px solid #ff3a15;
  border-bottom-right-radius: 23px;
  border-bottom-left-radius: 23px;
  background: linear-gradient(#ff694e 0%, #ff3a15 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.hero-content-text {
  height: 62px;
  width: 573px;
  font-size: 22px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 35.2px;
  color: rgba(255, 255, 255, 1);
  opacity: 60%;
  margin-bottom: 55px;
}
.hero-content-button--wrapper {
  display: flex;
}
.hero-content-button2,
.trends-section-week-button {
  margin-left: 25px;
  border: 1px solid rgba(255, 105, 78, 1);
  background-color: rgba(43, 47, 84, 1);
  width: 171px;
  height: 51px;
  font-size: 18px;
  font-family: roboto;
  font-weight: 500;
  border-radius: 30px;
  color: white;
}
.hero-img {
  width: 592px;
  height: 653.9px;
  margin-top: -143px;
  object-fit: fill;
}
/* sponser-section */
.sponser-logo-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-bottom: 69px;
}
/* main-section */
.main-section {
  width: 100%;
  height: auto;
  padding-top: 140px;
}

.about-us--section {
  height: 884.6574096679688px;
  width: 595.156005859375px;
  display: flex;
}
.about-us-img--groups {
  margin-right: 232px;
}
.about-us-img1-wrapper {
  height: 421.65px;
  width: 281.8px;
  border-radius: 25px;
  border: 1px solid rgba(255, 105, 78, 1);
  border-radius: 25px;
  transform: matrix(-1, -0.58, 0, 0.89, 0, 0);
}
.img1 {
  height: 440px;
  width: 373px;
  border-radius: 25px;
  transform: matrix(-1, -0.42, 0, 0.9, 0.54, 0);
  object-fit: contain;
  padding-left: 87px;
}
.about-us-img2-wrapper {
  height: 675.66px;
  width: 301.6px;
}
.about-us-img2-wrapperI,
.about-us-img2-wrapperII {
  height: 319.5904846191407px;
  width: 214.5974690846753px;
  padding: 38.16px 21.19px;
  border-radius: 25px;
  border: 1px solid rgba(255, 105, 78, 1);
  transform: matrix(-1, -0.58, 0, 0.89, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-us-img2-wrapperI {
  margin-left: 264px;
  margin-top: -356px;
  margin-bottom: -7px;
}
.about-us-img2-wrapperII {
  margin-left: 264px;
}
.img2 {
  height: 306.7313537597657px;
  width: 252.65800135966893px;
  transform: matrix(-1, -0.58, 0, 0.89, 0, 0);
  border-radius: 25px;
  object-fit: contain;
}

.about-us-details {
  height: 360px;
  width: 622px;
  margin-top: 224.99px;
}
.about-us-details-heading {
  height: 57px;
  width: 163px;
  font-family: Rajdhani;
  font-weight: 700;
  font-size: 44px;
  line-height: 57.2px;
  color: rgba(255, 255, 255, 1);
}
.about-us-details-text-1 {
  height: 129px;
  width: 622px;
  font-size: 22px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 35.2px;
  color: rgba(255, 255, 255, 1);
  opacity: 60%;
  margin-bottom: 50px;
}
.about-us-details-text-2 {
  height: 129px;
  width: 622px;
  font-size: 22px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 35.2px;
  color: rgba(255, 255, 255, 1);
  opacity: 60%;
}
/* main-section-2 */
.trends-section {
  width: 100%;
  height: auto;
}
.trends-section-week {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
.trends-section-week-heading {
  height: 57px;
  /* width: 291px; */
  font-family: Rajdhani;
  font-weight: 700;
  font-size: 44px;
  line-height: 57.2px;
  color: rgba(255, 255, 255, 1);
}
.trends-section-week-button {
  height: 51px;
  width: 125px;
  border-radius: 30px;
}
.trends-section-cards {
  display: flex;
  width: 100%;
  height: auto;
  gap: 20px;
  margin-bottom: 30px;
}
.trends-section-cards1,
.trends-section-cards1i {
  height: 404px;
  width: 304px;
  background-color: rgba(37, 41, 83, 1);
  border: 1px solid rgba(49, 120, 255, 1);
  border-radius: 25px;
}
.trends-section-cards1-img {
  height: 211px;
  width: 222px;
  border-radius: 25px;
  margin: 30px -5px 20px 22px;
  object-fit: contain;
}
.trends-section-cards1-heading {
  height: 31px;
  /* width: 138px; */
  font-family: Rajdhani;
  font-size: 22px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0em;
  color: rgba(255, 255, 255, 1);
  margin-left: 30px;
}
.trends-section-cards1-sub-section {
  display: flex;
  margin-top: 19px;
}
.trends-section-cards1-sub-section--content {
  margin-left: 30px;
}
.trends-section-cards1-sub-section--content-heading {
  height: 24px;
  width: 80px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 10px;
}
.trends-section-cards1-sub-section--content-specials {
  display: flex;
  margin-left: 3px;
}
.sub-section--content-specials-svg {
  margin-right: 10.76px;
}
.sub-section--content-specials-text {
  height: 21px;
  width: 27px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  background: linear-gradient(270deg, #ff694e -10.78%, #ff3a15 116.67%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.trends-section-cards1-sub-section-button {
  font-size: 16px;
  width: 73px;
  height: 44px;
  font-weight: 400;
  border-radius: 50px;
  margin-left: 70px;
}
.trends-section-cards1i {
  transform: rotate(-6.5deg);
  margin-right: 5px;
}

/* top-list-section */
.top-list-section {
  width: 100%;
  height: 650px;
}
.top-list-section-heading {
  height: 57px;
  width: 251px;
  font-family: Rajdhani;
  font-size: 44px;
  font-weight: 700;
  line-height: 57px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  margin-left: 434px;
  margin-bottom: 25px;
  margin-top: 21px;
}
.top-list-section-text {
  height: 59px;
  width: 688px;
  font-family: Roboto;
  font-size: 22px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  opacity: 60%;
  margin-left: 200px;
  margin-bottom: 60px;
}
.top-list-section-cards {
  width: 100%;
  display: flex;
  gap: 20px;
}
.top-list-section-cards1 {
  height: 336px;
  width: 267px;
  border-radius: 25px;
  background-color: rgba(33, 36, 62, 1);
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.top-list-section-cards1-design,
.top-list-section-cards2-design,
.top-list-section-cards3-design,
.top-list-section-cards4-design {
  height: 104px;
  width: 229px;
  left: 89px;
  top: 3464px;
  border-radius: 25px;
  margin-top: 20px;
  margin-left: 21px;
  margin-right: 21px;
}
.top-list-section-cards1-design {
  background-image: url(/img/Rectangle\ 534.png);
}
.top-list-section-cards2-design {
  background-image: url(/img/Rectangle\ 535.png);
}
.top-list-section-cards3-design {
  background-image: url(/img/Rectangle\ 536.png);
}
.top-list-section-cards4-design {
  background-image: url(/img/Rectangle\ 537.png);
}
.top-list-section-cards-img {
  height: 68px;
  width: 68px;
  border: 1px solid rgba(43, 47, 84, 1);
  border-radius: 50px;
  margin-left: 103px;
  margin-right: 118px;
  margin-top: -46px;
  margin-bottom: 15px;
}
.top-list-section-cards-subimg {
  height: 24px;
  width: 24px;
  position: absolute;
  left: 227px;
  top: 3357px;
}
.top-list-section-cards-text1 {
  height: 27px;
  width: 124px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  margin-left: 79px;
  margin-right: 90px;
}
.top-list-section-cards-text2 {
  height: 24px;
  width: 100px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 20px;
  margin-left: 89px;
  margin-right: 102px;
  margin-top: 15px;
}
.top-list-section-cards-text2-special {
  color: rgba(232, 12, 125, 1);
}
.top-list-section-cards-button {
  height: 47px;
  width: 142px;
  border-radius: 30px;
  margin-bottom: 30px;
  margin-left: 66px;
  margin-right: 82px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
}
.top-list-section-cards-lastimg {
  height: 8px;
  width: 130px;
  margin-top: 40px;
  margin-bottom: 167px;
  margin-left: 491px;
}
/* sell-your-Artwork-section */
.sell-your-Artwork-section {
  height: 731px;
  width: 100%;
  background: #252953;
  display: flex;
}
.sell-your-Artwork1-heading {
  height: 57px;
  width: 536px;
  font-family: Rajdhani;
  font-size: 44px;
  font-weight: 700;
  line-height: 57px;
  letter-spacing: 0em;
  color: rgba(255, 255, 255, 1);
  margin-top: 229px;
  margin-bottom: 25px;
  margin-left: 68px;
}
.sell-your-Artwork1-text {
  height: 59px;
  width: 587px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  color: rgba(255, 255, 255, 1);
  opacity: 60%;
  margin-bottom: 55px;
  margin-left: 68px;
}
label {
  position: relative;
}
input {
  height: 77px;
  width: 555px;
  left: 43px;
  top: 4401px;
  border-radius: 50px;
  padding-left: 30px;
  border: none;
  margin-left: 68px;
}
.sell-your-Artwork1-button {
  position: absolute;
  height: 57px;
  width: 160px;
  left: 456px;
  top: -20px;
  border-radius: 50px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
}
