* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Rajdhani", "Roboto" sans-serif;
  font-size: 1.6rem;
  padding-left: 6.8rem;
  padding-right: 6.8rem;
  background: rgba(43, 47, 84, 1);
  padding-top: 5rem;
}
.header-section {
  width: 100%;
  height: 51px;
  display: flex;
}
.logo {
  width: 91px;
  height: 32px;
  object-fit: contain;
  margin-right: 334px;
}
.nav-bar {
  height: 21px;
  width: auto;
  margin-right: 124px;
  margin-top: 12px;
}
.nav-list {
  display: flex;
  list-style: none;
}
.nav-list li {
  margin-right: 4rem;
  font-family: Roboto;
  font-size: 18px;
  line-height: 21.09px;
}

.nav-list li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  font-weight: 400;
  opacity: 60%;
}
.home-link {
  color: rgba(255, 255, 255, 1);
  font-weight: 500;
}
.header-search-button-container {
  display: flex;
}
.search-icon {
  margin-right: 17px;
  margin-top: 16px;
}
.header-button,
.hero-content-button1 {
  border: none;
  width: 171px;
  height: 51px;
  border-radius: 30px;
  background: linear-gradient(#ff694e 0%, #ff3a15 100%);
  color: white;
  font-size: 18px;
  font-family: roboto;
  font-weight: 500;
}

/* HERO */
.hero-section {
  width: 100%;
  height: 652.9px;
  display: flex;
  margin-top: 160px;
  margin-bottom: -4.9px;
}
.hero-content-heading {
  width: 573px;
  height: 219px;
  font-family: Rajdhani;
  font-weight: 700;
  line-height: 73.2px;
  font-size: 61px;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 25px;
}
.hero-content-heading-special {
  border-bottom: 2px solid #ff3a15;
  border-bottom-right-radius: 23px;
  border-bottom-left-radius: 23px;
  background: linear-gradient(#ff694e 0%, #ff3a15 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.hero-content-text {
  height: 62px;
  width: 573px;
  font-size: 22px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 35.2px;
  color: rgba(255, 255, 255, 1);
  opacity: 60%;
  margin-bottom: 55px;
}
.hero-content-button--wrapper {
  display: flex;
}
.hero-content-button2 {
  margin-left: 25px;
  border: 1px solid rgba(255, 105, 78, 1);
  background-color: rgba(43, 47, 84, 1);
  width: 171px;
  height: 51px;
  font-size: 18px;
  font-family: roboto;
  font-weight: 500;
  border-radius: 30px;
  color: white;
}
.hero-img {
  width: 592px;
  height: 653.9px;
  margin-top: -143px;
  object-fit: fill;
}
/* sponser-section */
.sponser-logo-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
/* main-section */
